hr{
	border-top: 1px solid black;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
h2{
	padding: 20px;
	text-align: center;
	color: rgb(2, 2, 24);
}
#d1{
	background-image: url('room.png');
	opacity:0.7;
	height: 700px;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.d2{
	 background-color: #FFFFFF;
	  border: none;
	  color: black;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  border-radius: 4px;
	  font-family: "Times New Roman", Times, serif;
}
body{
	color: rgb(28, 30, 34);
}
form{
	border-style: solid;
	padding: 25px;
	background-color: cornflowerblue;
}


.rcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}