<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SessiondbWizardApp</display-name>
  
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/employeedb</param-value>
  </context-param>
  <context-param>
  	<param-name>username</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>root</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>EmployeeNextController</servlet-name>
  	<servlet-class>EmployeeNextController</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>EmployeeSaveController</servlet-name>
  	<servlet-class>EmployeeSaveController</servlet-class>
  </servlet>
  
</web-app>